@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgb(230, 230, 230);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}